<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <nav class="navbar">
            <h1><a href="/">Ben Thompson's Personal Site</a></h1>
            <h2><a href="/astrophotography">Astrophotography</a></h2>
            <h2><a href="/projects">Projects</a></h2>
        </nav>
        <main>
            <h2>{{ title }}</h2>
            {{content | safe}}
        </main>

        <footer>
            Page created with <a href="https://www.11ty.dev">11ty</a>. 11ty code for website available <a href="https://codeberg.org/bathompson/Personal-Site">here</a>, and licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3</a>. 
            </br> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </footer>
    </body>
</html>