.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: #4C6085;
}

.navbar a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
    background-color: #4C6085;
    color: white;
    text-decoration: none;
    height: 100%;
}
.navbar a:hover {
    background-color: #39A0ED;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #39A0ED;
    color: white;
}

html {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: underline;
    color: white;
}

ul {
    padding: 1rem 1.5rem;
}

img {
    width: 25%;
    padding:none;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7px;
}

footer {
    margin-top: auto;
    padding-top: 7px;
    padding-left: 7px;
    background-color: #4C6085;
}

footer img {
    width: 100px;
}

footer a {
    background-color: #4C6085;
}